<!DOCTYPE html>
<html>
<head>
  <title>Webapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
 <div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "pragmatig bookshelf" %>
 </div>
 <div id="columns">
  <div id="side" >
  <a href="" >Home</a><br />
  <a href="../faq" >Questions</a><br />
  <a href="../news" >News</a><br />
  <a href="../contact" >Contact</a><br />
 </div>
 <div id="main">
  <%= yield %>
 </div>
</div>
</body>
</html>
